<div class="contents row">
  <div class="success">
    <h3>
      Thank you! Your plan will help someone in the world!
    </h3>
    <a class="btn" href="/posts">Go to the main page</a>
  </div>
</div>