<div class="contents row" >
  <% @posts.each do |post| %>
    <div class="content_post" style="background-image: url(<%= post.image %>);">
      <%= simple_format(post.text) %>
      <span class="name"><%= post.city %></span>
    </div>
  <% end %>
  <%= paginate(@posts) %>
</div>
