<div class="contents row">
  <%= form_tag('/posts', method: :post) do %>
    <h3>
      Post your plan!
    </h3>
    <input placeholder="Nickname" type="string" name="nickname">
    <input placeholder="City" type="string" name="city">
    <input placeholder="Image Url" type="text" name="image">
    <textarea cols="30" name="text" placeholder="Your Plan" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>