<!DOCTYPE html>
<html>
  <head>
    <title>Jigsaw Trip</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Alfa+Slab+One|Lalezar|Shadows+Into+Light" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Jigsaw Trip</a></h1>
        <div class="user_nav grid-6">
          <a class="post" href="/posts/new">Post your plan!</a>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <p>
        Copyright Jigsaw Trip 2016.
      </p>
    </footer>
  </body>
</html>
